.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 6rem auto 0;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 770px) {
  .projectsContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}