.navbarContainer {
  background-color: var(--black-700);
  padding: 1rem 0;
  border-bottom: 1px solid var(--orange-500);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbarContent {
  max-width: 70rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.navbarInfo {
  h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 24px;
    color: var(--white-300);
  }

  h2 {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--gray-500);
  }
}

.navbarNavigation {
  display: flex;
  margin-top: 0.5rem;
  gap: 4rem;

  a {
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    font-size: 1.1rem;
    color: var(--white-300);

    &:hover {
      border-bottom: 2px solid var(--gray-600);
      border-radius: 5px;
    }

    &.navbarSelectedLink {
      border-bottom: 2px solid var(--gray-600);
      border-radius: 5px;
    }
  }
}

@media (max-width: 770px) {
  .navbarContainer {
    padding: 1rem;
  } 

  .navbarInfo {
    h1 {
      line-height: 35px;
    }
  }

  .navbarNavigation {
    display: none;
  }
}